$cor-primaria: #84e;
$font-primaria: Roboto, sans-serif;
$gutter: 60px;

// mixins
@mixin title {
    font-family: monospace;
    font-weight: bold;

}

@mixin text-large {
    font-size: 4em;
    line-height: 1;
}

@mixin title-large {
    @include text-large;
    @include title;
}

@mixin separator($color, $width: 260px) {
    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 4px;
        background: $color;
        width: $width;
    }
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
}
@mixin mobile {
    @media (max-width: 768px) { 
        @content;
    }
}
//functions
@mixin  type-1($size) {
    font-family: monospace;
    font-weight: normal;
    @if $size == 16{ 

    }@else if $size == 18 {
        font-size: 1.25em;
    }@else if $size == 24{ 
        font-size: 1.5em;
    }
    
}
// Lopp
$container: 768;
$gutter: 20;
$columns: 12;
@for $i from 1 through $columns{ 
    $width: $container / $columns * $i - $gutter ;
    .grid-#{$i}{
        width:  $width +  px;
    }
}
@for $i from 1 through $columns {
    $width: percentage(1/$i);
    .porcento-#{$i}{
        width: $width;
    }
}
$lista: facebook, instagram, twitter, tumblr;

@each $item in $lista {
    .rede-#{$item} {
        background: url('../img/#{$item}.png');
    }
}
p {
    @include type-1(18)
}
section {
    max-width: 600px;
    margin: 0 auto;
}

.modal {
    @include box-shadow(10px 10px 0 0 rgba(0, 0, 0, .5), 15px 15px 0 0 rgba(0, 0, 0, .5), 20px 20px 0 0 rgba(0, 0, 0, .5), );

    h1 {
        color: $cor-primaria;
        font-family: $font-primaria;
        margin-bottom: $gutter;
        @include title-large;
        @include separator(#84c);
        @include mobile{ 
            color: aquamarine;
        }
    }

    p {
        font-size: 1.2em;
        line-height: 1.4;
        max-width: 400px;
        font-family: $font-primaria;
    }

    a {
        display: block;
        max-width: 120px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: $cor-primaria;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-primaria;
    }
}

ul {
    text-align: center;

    li {
        display: inline-block;
        list-style: none;

        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: aliceblue;

            &:hover {
                background: #84e;
            }
        }
    }
}